.u-section-1 {
  min-height: 950px;
}

.u-section-1 .u-text-1 {
  margin: 50px calc(((100% - 1140px) / 2) + 736px) 0 calc(((100% - 1140px) / 2) + -38px);
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 50px 229px 0 230px;
}

.u-section-1 .u-table-1 {
  margin-top: 55px;
  margin-bottom: 0;
}

.u-block-b149-12 {
  height: 46px;
}

.u-block-b149-19 {
  height: 46px;
}

.u-section-1 .u-text-3 {
  margin: -705px calc(((100% - 1140px) / 2) + 795px) 0 calc(((100% - 1140px) / 2) + 221px);
}

.u-section-1 .u-text-4 {
  margin: 13px calc(((100% - 1140px) / 2) + 909px) 0 calc(((100% - 1140px) / 2) + 105px);
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-btn-4 {
  padding: 0;
}

.u-section-1 .u-btn-5 {
  padding: 0;
}

.u-section-1 .u-btn-6 {
  font-size: 1rem;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  padding: 0;
}

.u-section-1 .u-btn-8 {
  padding: 0;
}

.u-section-1 .u-btn-9 {
  padding: 0;
}

.u-section-1 .u-btn-10 {
  padding: 0;
}

.u-section-1 .u-btn-11 {
  padding: 0;
}

.u-section-1 .u-btn-12 {
  padding: 0;
}

.u-section-1 .u-btn-13 {
  padding: 0;
}

.u-section-1 .u-btn-14 {
  padding: 0;
}

.u-section-1 .u-btn-15 {
  padding: 0;
}

.u-section-1 .u-btn-16 {
  padding: 0;
}

.u-section-1 .u-btn-17 {
  padding: 0;
}

.u-section-1 .u-btn-18 {
  padding: 0;
}

.u-section-1 .u-btn-19 {
  padding: 0;
}

.u-section-1 .u-btn-20 {
  padding: 0;
}

.u-section-1 .u-btn-21 {
  padding: 0;
}

.u-section-1 .u-btn-22 {
  padding: 0;
}

.u-section-1 .u-btn-23 {
  padding: 0;
}

.u-section-1 .u-btn-24 {
  padding: 0;
}

.u-section-1 .u-btn-25 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: -625px calc(((100% - 1140px) / 2) + 131px) 0 calc(((100% - 1140px) / 2) + 884px);
}

.u-section-1 .u-btn-26 {
  padding: 0;
}

.u-section-1 .u-btn-27 {
  padding: 0;
}

.u-section-1 .u-btn-28 {
  padding: 0;
}

.u-section-1 .u-btn-29 {
  padding: 0;
}

.u-section-1 .u-btn-30 {
  padding: 0;
}

.u-section-1 .u-btn-31 {
  padding: 0;
}

.u-section-1 .u-btn-32 {
  padding: 0;
}

.u-section-1 .u-btn-33 {
  padding: 0;
}

.u-section-1 .u-btn-34 {
  padding: 0;
}

.u-section-1 .u-btn-35 {
  padding: 0;
}

.u-section-1 .u-btn-36 {
  padding: 0;
}

.u-section-1 .u-btn-37 {
  padding: 0;
}

.u-section-1 .u-btn-38 {
  padding: 0;
}

.u-section-1 .u-btn-39 {
  padding: 0;
}

.u-section-1 .u-btn-40 {
  padding: 0;
}

.u-section-1 .u-btn-41 {
  padding: 0;
}

.u-section-1 .u-btn-42 {
  padding: 0;
}

.u-section-1 .u-btn-43 {
  padding: 0;
}

.u-section-1 .u-btn-44 {
  padding: 0;
}

.u-section-1 .u-btn-45 {
  padding: 0;
}

.u-section-1 .u-btn-46 {
  padding: 0;
}

.u-section-1 .u-btn-47 {
  padding: 0;
}

.u-section-1 .u-btn-48 {
  padding: 0;
}

.u-section-1 .u-btn-49 {
  padding: 0;
}

.u-section-1 .u-btn-50 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  margin: -669px calc(((100% - 1140px) / 2) + 246px) 60px calc(((100% - 1140px) / 2) + 775px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: calc(((100% - 1140px) / 2) + 648px);
    margin-left: calc(((100% - 1140px) / 2) + 69px);
  }

  .u-section-1 .u-text-2 {
    width: 841px;
    margin-left: calc(((100% - 1140px) / 2) + 150px);
    margin-right: calc(((100% - 1140px) / 2) + 150px);
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -711px;
    margin-right: calc(((100% - 940px) / 2) + 724px);
    margin-left: calc(((100% - 940px) / 2) + 92px);
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 30px;
    margin-right: calc(((100% - 940px) / 2) + 813px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 815px);
  }

  .u-section-1 .u-btn-41 {
    width: 83px;
    height: 25px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -687px;
    margin-right: calc(((100% - 940px) / 2) + 125px);
    margin-left: calc(((100% - 940px) / 2) + 696px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 522px);
    margin-left: calc(((100% - 1140px) / 2) + 186px);
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 596px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2) + 593px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 595px);
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 720px) / 2) + 15px);
    margin-left: calc(((100% - 720px) / 2) + 586px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 431px);
    margin-left: calc(((100% - 1140px) / 2) + 282px);
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 416px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2) + 413px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 415px);
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 421px);
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1060px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 19px;
    margin-right: calc(((100% - 340px) / 2) + 25px);
    margin-left: 50px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-table-1 {
    margin-top: 35px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -855px;
    margin-right: calc(((100% - 340px) / 2) + 170px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-top: 19px;
    margin-right: calc(((100% - 340px) / 2) + 181px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: calc(((100% - 340px) / 2) + 220px);
  }

  .u-section-1 .u-text-6 {
    margin-top: -676px;
    margin-right: calc(((100% - 340px) / 2) + -21px);
    margin-left: calc(((100% - 340px) / 2) + 197px);
  }
}