.u-section-1-1 {
  background-image: url("images/b646f4cc-df54-0ebf-2d11-cc94f02aa190.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 537px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 442px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 314px;
  }
}.u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/about-01.jpg");
  background-position: 50% 29.24%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 537px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 442px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 314px;
  }
}.u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/main_slider_2.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 537px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 442px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 314px;
  }
}.u-section-1-4 {
  min-height: 537px;
}

.u-section-1-4 .u-image-1 {
  object-position: 100% 50%;
  filter: brightness(0.6);
  height: 454px;
  margin-top: 83px;
  margin-bottom: 0;
}.u-block-dcd8-5 {
  position: absolute;
  width: 72px;
  height: 3px;
  top: auto;
  bottom: 11px;
}

.u-block-dcd8-3 {
  position: absolute;
  left: 0;
  background-image: none;
}

.u-block-dcd8-6 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
  background-image: none;
}.u-section-2 .u-sheet-1 {
  min-height: 421px;
}

.u-section-2 .u-group-1 {
  min-height: 419px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 3px;
}

.u-section-2 .u-text-1 {
  font-family: "Russo One";
  line-height: 52.8px;
  font-weight: normal;
  font-size: 2.375rem;
  animation-duration: 1000ms;
  margin: 19px 61px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5625rem;
  background-image: none;
  animation-duration: 1000ms;
  margin: 19px 129px 0 125px;
}

.u-section-2 .u-text-3 {
  font-size: 0.9375rem;
  animation-duration: 750ms;
  margin: 0 4px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
    width: 738px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    width: 827px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 660px;
  }

  .u-section-2 .u-text-3 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    width: 520px;
  }

  .u-section-2 .u-text-3 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-2 .u-group-1 {
    min-height: 699px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-right: -11px;
    margin-left: -21px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-left: -42px;
    margin-right: -42px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 10px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 104px;
}

.u-section-3 .u-text-1 {
  font-family: "Russo One";
  line-height: 52.8px;
  font-weight: normal;
  font-size: 2.375rem;
  animation-duration: 1000ms;
  margin: 0 91px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5625rem;
  background-image: none;
  animation-duration: 1000ms;
  width: 827px;
  margin: 20px auto 3px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 728px;
}

.u-section-4 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 545px;
  margin: 6px auto 0 -1px;
}

.u-section-4 .u-image-1 {
  background-image: url("images/6624fe21-6379-a831-75e3-f1cc8954ef71.jpg");
  background-position: 50% 50%;
  min-height: 295px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 295px;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 4px 8px 0;
}

.u-section-4 .u-text-1 {
  margin: -7px 9px 0 12px;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  margin: 14px 12px 0;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  border-style: solid;
  margin: 20px auto 0 14px;
  padding: 4px 16px 5px 15px;
}

.u-section-4 .u-layout-wrap-2 {
  pointer-events: auto;
  width: 545px;
  margin: -294px 0 0 auto;
}

.u-section-4 .u-image-2 {
  min-height: 296px;
  pointer-events: auto;
  background-image: url("images/english.jpg");
  background-position: 100% 50%;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-4 .u-layout-cell-4 {
  animation-duration: 1000ms;
  min-height: 296px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 0 9px;
}

.u-section-4 .u-text-3 {
  margin: 0 13px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 0 12px;
}

.u-section-4 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  border-style: solid;
  margin: 20px auto 0 12px;
  padding: 4px 16px 5px 15px;
}

.u-section-4 .u-layout-wrap-3 {
  pointer-events: auto;
  width: 543px;
  margin: 65px 0 0 auto;
}

.u-section-4 .u-image-3 {
  min-height: 300px;
  pointer-events: auto;
  background-image: url("images/education-41.jpg");
  background-position: 17.68% 50%;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 60px;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 300px;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-6 {
  padding: 0 0 14px;
}

.u-section-4 .u-text-5 {
  margin: 0 -7px 0 7px;
}

.u-section-4 .u-text-6 {
  margin: 12px 20px 0 12px;
}

.u-section-4 .u-btn-3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  border-style: solid;
  margin: 24px auto 0 15px;
  padding: 4px 16px 5px 15px;
}

.u-section-4 .u-layout-wrap-4 {
  pointer-events: auto;
  width: 545px;
  margin: -301px auto 56px 0;
}

.u-section-4 .u-image-4 {
  min-height: 305px;
  pointer-events: auto;
  background-image: url("images/ff9c15cc-abec-f196-5efe-277f189ac03a.jpg");
  background-position: 100% 50%;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px 60px;
}

.u-section-4 .u-layout-cell-8 {
  animation-duration: 1000ms;
  min-height: 305px;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px 1px 14px 4px;
}

.u-section-4 .u-text-7 {
  margin: 0;
}

.u-section-4 .u-text-8 {
  margin: 0 15px 0 12px;
}

.u-section-4 .u-btn-4 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  border-style: solid;
  margin: 37px auto -17px 12px;
  padding: 4px 16px 5px 15px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 437px;
    margin-top: 49px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    pointer-events: auto;
    animation-duration: 1000ms;
    min-height: 311px;
  }

  .u-section-4 .u-layout-cell-2 {
    pointer-events: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 5px;
    padding-right: 0;
    padding-bottom: 4px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    animation-duration: 1000ms;
    margin-top: 9px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 437px;
    margin-top: 28px;
  }

  .u-section-4 .u-image-2 {
    min-height: 304px;
  }

  .u-section-4 .u-layout-cell-4 {
    pointer-events: auto;
    min-height: 304px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 22px;
    padding-bottom: 7px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: 1px;
  }

  .u-section-4 .u-layout-wrap-3 {
    width: 438px;
    margin-top: -646px;
  }

  .u-section-4 .u-layout-cell-6 {
    pointer-events: auto;
  }

  .u-section-4 .u-container-layout-6 {
    padding-bottom: 13px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 2px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 23px;
    margin-right: 1px;
    margin-left: 7px;
  }

  .u-section-4 .u-layout-wrap-4 {
    width: 437px;
    margin-top: 20px;
    margin-bottom: 36px;
  }

  .u-section-4 .u-layout-cell-8 {
    pointer-events: auto;
  }

  .u-section-4 .u-container-layout-8 {
    padding-bottom: 34px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-right: -1px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-top: 61px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 44px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 12px;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: 449px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 17px;
  }

  .u-section-4 .u-layout-wrap-3 {
    margin-top: -730px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-4 .u-text-5 {
    margin-top: 87px;
  }

  .u-section-4 .u-text-6 {
    margin-top: -1px;
    margin-right: 0;
    margin-left: 8px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 78px;
    margin-left: 8px;
  }

  .u-section-4 .u-layout-wrap-4 {
    margin-top: 449px;
    margin-bottom: 56px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2360px;
  }

  .u-section-4 .u-image-1 {
    min-height: 585px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-image-2 {
    min-height: 587px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 597px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    min-height: 604px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2520px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 10px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    background-position: 89.76% 50%;
    min-height: 368px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 223px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 33px;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 0;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 9px;
    margin-right: 11px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: 702px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    min-height: 370px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 187px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 32px;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: -3px;
    margin-left: 3px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 9px;
    margin-right: 9px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-wrap-3 {
    margin-top: -1209px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    min-height: 376px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 244px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 58px;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-top: -10px;
    margin-right: 9px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-wrap-4 {
    margin-top: 638px;
    margin-bottom: 36px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-4 {
    min-height: 380px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-bottom: 0;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 191px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-top: 1px;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 32px;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-4 {
    margin: -13px 10px 0 auto;
  }
}.u-section-5 {
  background-image: none;
  min-height: 808px;
}

.u-section-5 .u-group-1 {
  min-height: 399px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 50px 30px 30px;
}

.u-section-5 .u-text-1 {
  width: 828px;
  font-family: "Russo One";
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-size: 1.5625rem;
  background-image: none;
  animation-duration: 1000ms;
  width: 827px;
  margin: 0 auto;
}

.u-section-5 .u-repeater-1 {
  width: 1140px;
  min-height: 521px;
  grid-template-columns: calc(33.3333% - 15px) calc(33.3333% - 15px) calc(33.3333% - 15px);
  grid-gap: 22px 22px;
  margin: -231px auto 60px;
}

.u-section-5 .u-repeater-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-5 .u-image-1 {
  height: 285px;
  animation-duration: 1000ms;
  margin: 0 1px 0 auto;
}

.u-section-5 .u-text-3 {
  font-size: 1.75rem;
  margin: 4px 2px 0 0;
}

.u-section-5 .u-btn-1 {
  padding: 0;
}

.u-section-5 .u-text-4 {
  margin: 5px 2px 0 1px;
}

.u-section-5 .u-repeater-item-2 {
  background-size: auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-5 .u-image-2 {
  height: 285px;
  animation-duration: 1000ms;
  margin: 0 1px 0 auto;
}

.u-section-5 .u-text-5 {
  font-size: 1.75rem;
  margin: 4px 2px 0 0;
}

.u-section-5 .u-btn-2 {
  padding: 0;
}

.u-section-5 .u-text-6 {
  margin: 5px 2px 0 1px;
}

.u-section-5 .u-repeater-item-3 {
  background-size: auto;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-5 .u-image-3 {
  height: 285px;
  animation-duration: 1000ms;
  margin: 0 1px 0 auto;
}

.u-section-5 .u-text-7 {
  font-size: 1.75rem;
  margin: 4px 2px 0 0;
}

.u-section-5 .u-text-8 {
  margin: 5px 2px 0 1px;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 806px;
  }

  .u-section-5 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-5 .u-repeater-1 {
    width: 940px;
    min-height: 572px;
    height: auto;
    margin-top: -254px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 1025px;
  }

  .u-section-5 .u-text-1 {
    width: 660px;
  }

  .u-section-5 .u-text-2 {
    width: 660px;
  }

  .u-section-5 .u-repeater-1 {
    width: 720px;
    min-height: 1106px;
    grid-template-columns: calc(((100% - 720px) / 2) + 349px) calc(((100% - 720px) / 2) + 349px);
  }

  .u-section-5 .u-text-3 {
    width: auto;
  }

  .u-section-5 .u-text-4 {
    width: auto;
  }

  .u-section-5 .u-text-5 {
    width: auto;
  }

  .u-section-5 .u-btn-2 {
    width: 120px;
    height: 36px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
  }

  .u-section-5 .u-text-7 {
    width: auto;
  }

  .u-section-5 .u-text-8 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    width: 520px;
  }

  .u-section-5 .u-text-2 {
    width: 520px;
  }

  .u-section-5 .u-repeater-1 {
    width: 540px;
    grid-template-columns: 100%;
  }

  .u-section-5 .u-image-3 {
    margin-top: -530px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 1741px;
  }

  .u-section-5 .u-group-1 {
    min-height: 363px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    width: 320px;
    margin-top: 21px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
    width: 320px;
  }

  .u-section-5 .u-repeater-1 {
    width: 340px;
    min-height: 1533px;
    margin-top: -229px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-4 {
    margin-top: 0;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-6 {
    margin-top: 0;
  }

  .u-section-5 .u-image-3 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-8 {
    margin-top: 0;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 618px;
}

.u-section-6 .u-group-1 {
  width: 800px;
  min-height: 76px;
  margin: 36px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-6 .u-text-1 {
  font-family: "Russo One";
  font-size: 3rem;
  margin: -64px 218px 0 182px;
}

.u-section-6 .u-list-1 {
  min-height: 457px;
  grid-template-columns: calc(33.3333% - 29px) calc(33.3333% - 29px) calc(33.3333% - 29px);
  grid-template-rows: auto;
  grid-gap: 44px 44px;
  width: 1140px;
  margin: 36px -14px 25px auto;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
  box-shadow: 0 0 18px 0 rgba(128,128,128,0.45);
  animation-duration: 1000ms;
}

.u-section-6 .u-container-layout-2 {
  padding: 40px 0;
}

.u-section-6 .u-icon-1 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 auto;
}

.u-section-6 .u-group-2 {
  min-height: 219px;
  margin-top: 53px;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 229px 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 0.875rem;
  font-style: italic;
  margin: -52px 0 0 68px;
}

.u-section-6 .u-list-item-2 {
  box-shadow: 0 0 18px 0 rgba(128,128,128,0.45);
  animation-duration: 1000ms;
}

.u-section-6 .u-container-layout-4 {
  padding: 40px 0;
}

.u-section-6 .u-icon-2 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 auto;
}

.u-section-6 .u-group-3 {
  min-height: 219px;
  background-size: auto;
  margin-top: 53px;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 237px 0 0;
}

.u-section-6 .u-text-5 {
  font-size: 0.875rem;
  font-style: italic;
  margin: -52px 2px 0 68px;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
  box-shadow: 0 0 18px 0 rgba(128,128,128,0.45);
  animation-duration: 1000ms;
}

.u-section-6 .u-container-layout-6 {
  padding: 40px 0;
}

.u-section-6 .u-icon-3 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 auto;
}

.u-section-6 .u-group-4 {
  min-height: 219px;
  background-size: auto;
  margin-top: 53px;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-7 {
  padding: 30px;
}

.u-section-6 .u-text-6 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 237px 0 0;
}

.u-section-6 .u-text-7 {
  font-size: 0.875rem;
  font-style: italic;
  margin: -52px 2px 0 68px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 25px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-6 .u-text-1 {
    width: 740px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-list-1 {
    min-height: 478px;
    height: auto;
    margin-top: 13px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 37px;
  }

  .u-section-6 .u-group-2 {
    min-height: 280px;
    margin-top: 16px;
    animation-duration: 1000ms;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-right: 172px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 37px;
  }

  .u-section-6 .u-group-3 {
    min-height: 280px;
    margin-top: 16px;
    animation-duration: 1000ms;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-right: 172px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-icon-3 {
    margin-top: 37px;
  }

  .u-section-6 .u-group-4 {
    min-height: 280px;
    margin-top: 16px;
    animation-duration: 1000ms;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-right: 172px;
  }

  .u-section-6 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1027px;
  }

  .u-section-6 .u-group-1 {
    width: 720px;
  }

  .u-section-6 .u-text-1 {
    width: 720px;
  }

  .u-section-6 .u-list-1 {
    min-height: 830px;
    grid-template-columns: calc(((100% - 720px) / 2) + 338px) calc(((100% - 720px) / 2) + 338px);
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-2 {
    min-height: 192px;
  }

  .u-section-6 .u-group-3 {
    min-height: 192px;
  }

  .u-section-6 .u-group-4 {
    min-height: 192px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-list-1 {
    grid-template-columns: 100%;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-2 {
    min-height: 134px;
  }

  .u-section-6 .u-group-3 {
    min-height: 134px;
  }

  .u-section-6 .u-group-4 {
    min-height: 134px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1474px;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-6 .u-list-1 {
    min-height: 1287px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-2 {
    min-height: 214px;
    margin-top: 62px;
    margin-bottom: -39px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 228px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
  }

  .u-section-6 .u-group-3 {
    min-height: 214px;
    margin-top: 62px;
    margin-bottom: -39px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 228px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
  }

  .u-section-6 .u-group-4 {
    min-height: 214px;
    margin-top: 62px;
    margin-bottom: -39px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 228px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 95px;
}

.u-section-7 .u-text-1 {
  font-family: "Russo One";
  background-image: none;
  font-size: 2.125rem;
  width: 204px;
  margin: 38px auto 20px;
}.u-section-8 {
  min-height: 697px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 50px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 578px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 238px;
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 30px 10px;
}

.u-section-8 .u-text-1 {
  margin: 60px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 350px;
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding: 15px 20px 30px;
}

.u-section-8 .u-form-1 {
  height: 181px;
  width: 393px;
  margin: 0;
}

.u-section-8 .u-form-group-1 {
  margin-left: 0;
}

.u-section-8 .u-form-group-2 {
  margin-left: 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: none;
}

.u-section-8 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-8 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 6px auto 0 0;
  padding: 0;
}

.u-section-8 .u-image-1 {
  min-height: 636px;
  background-image: url("images/PHOTO-2021-02-19-14-02-233.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-custom-html-1 {
  min-height: 636px;
  animation-duration: 1000ms;
  margin: -30px -30px -30px -35px;
}

@media (max-width: 1199px) {
  .u-section-8 {
    min-height: 636px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 477px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 197px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 289px;
  }

  .u-section-8 .u-form-1 {
    width: 273px;
  }

  .u-section-8 .u-image-1 {
    min-height: 524px;
  }

  .u-section-8 .u-custom-html-1 {
    height: auto;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 {
    min-height: 1441px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 548px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 225px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-8 .u-image-1 {
    min-height: 1204px;
  }
}

@media (max-width: 767px) {
  .u-section-8 {
    min-height: 1915px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 822px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 338px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 150px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    min-height: 903px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 {
    min-height: 1611px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 518px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 213px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 94px;
  }

  .u-section-8 .u-image-1 {
    min-height: 569px;
  }
}