.u-section-1 .u-sheet-1 {
  min-height: 204px;
}

.u-section-1 .u-text-1 {
  margin: 50px 736px 0 -38px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  width: 841px;
  margin: 50px auto 28px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 548px;
    margin-left: -31px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 312px;
    margin-left: -24px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 131px;
    margin-left: -18px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 36px;
    margin-left: -11px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 791px;
}

.u-section-2 .u-text-1 {
  margin: 20px 824px 0 192px;
}

.u-section-2 .u-text-2 {
  margin: -32px 220px 0 801px;
}

.u-section-2 .u-text-3 {
  margin: 78px 0 0 1014px;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

.u-section-2 .u-btn-3 {
  padding: 0;
}

.u-section-2 .u-btn-4 {
  padding: 0;
}

.u-section-2 .u-btn-5 {
  padding: 0;
}

.u-section-2 .u-btn-6 {
  padding: 0;
}

.u-section-2 .u-btn-7 {
  padding: 0;
}

.u-section-2 .u-btn-8 {
  padding: 0;
}

.u-section-2 .u-btn-9 {
  padding: 0;
}

.u-section-2 .u-btn-10 {
  padding: 0;
}

.u-section-2 .u-btn-11 {
  padding: 0;
}

.u-section-2 .u-btn-12 {
  padding: 0;
}

.u-section-2 .u-btn-13 {
  padding: 0;
}

.u-section-2 .u-btn-14 {
  padding: 0;
}

.u-section-2 .u-btn-15 {
  padding: 0;
}

.u-section-2 .u-btn-16 {
  padding: 0;
}

.u-section-2 .u-btn-17 {
  padding: 0;
}

.u-section-2 .u-btn-18 {
  padding: 0;
}

.u-section-2 .u-btn-19 {
  padding: 0;
}

.u-section-2 .u-btn-20 {
  padding: 0;
}

.u-section-2 .u-btn-21 {
  padding: 0;
}

.u-section-2 .u-btn-22 {
  padding: 0;
}

.u-section-2 .u-btn-23 {
  padding: 0;
}

.u-section-2 .u-btn-24 {
  padding: 0;
}

.u-section-2 .u-btn-25 {
  padding: 0;
}

.u-section-2 .u-text-4 {
  margin: -625px 1014px 36px 0;
}

.u-section-2 .u-btn-26 {
  padding: 0;
}

.u-section-2 .u-btn-27 {
  padding: 0;
}

.u-section-2 .u-btn-28 {
  padding: 0;
}

.u-section-2 .u-btn-29 {
  padding: 0;
}

.u-section-2 .u-btn-30 {
  padding: 0;
}

.u-section-2 .u-btn-31 {
  padding: 0;
}

.u-section-2 .u-btn-32 {
  padding: 0;
}

.u-section-2 .u-btn-33 {
  padding: 0;
}

.u-section-2 .u-btn-34 {
  padding: 0;
}

.u-section-2 .u-btn-35 {
  padding: 0;
}

.u-section-2 .u-btn-36 {
  padding: 0;
}

.u-section-2 .u-btn-37 {
  padding: 0;
}

.u-section-2 .u-btn-38 {
  padding: 0;
}

.u-section-2 .u-btn-39 {
  padding: 0;
}

.u-section-2 .u-btn-40 {
  padding: 0;
}

.u-section-2 .u-btn-41 {
  padding: 0;
}

.u-section-2 .u-btn-42 {
  padding: 0;
}

.u-section-2 .u-btn-43 {
  padding: 0;
}

.u-section-2 .u-btn-44 {
  padding: 0;
}

.u-section-2 .u-btn-45 {
  padding: 0;
}

.u-section-2 .u-btn-46 {
  padding: 0;
}

.u-section-2 .u-btn-47 {
  padding: 0;
}

.u-section-2 .u-btn-48 {
  padding: 0;
}

.u-section-2 .u-btn-49 {
  padding: 0;
}

.u-section-2 .u-btn-50 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 10px;
    margin-right: 723px;
    margin-left: 103px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 130px;
    margin-left: 681px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 72px;
    margin-left: 810px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 814px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-btn-31 {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 33px;
    margin-right: 577px;
    margin-left: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 30px;
    margin-left: 536px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 11px;
    margin-left: 573px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 594px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 19px;
    margin-right: 405px;
    margin-left: 25px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -26px;
    margin-right: 25px;
    margin-left: 396px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 19px;
    margin-left: 414px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 414px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 26px;
    margin-right: 230px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -32px;
    margin-right: 0;
    margin-left: 215px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 78px;
    margin-left: 214px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 214px;
  }
}